<div class="center jumbotron">
  <h1>Tandem Suchen</h1>
  <p>
    This is the home page for finding Tandem partners
  </p>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>
